.banner-about{
    #banner-img{
        background-image: url(../images/banner-about.jpg);
    }
}

.our-team{
    .card-title{
        font-weight: 800;
        color: $main-color2;
        font-size: 24px;
        margin-bottom: 0.8em;
    }

    .our-team-line{
        width: 10%;
        border-top-color: $main-color2;
    }
    .card-text{
        font-size: 14px;
        margin: 14px 0;
        font-weight: 600;
        color: $card-text-color;
    }
}
.social-about{
    margin-left: 22%;
    margin-top: 15px;
    text-align: center !important;
}