@import './_variable.scss';

.banner{
    #banner-img{
        background-image: url(../images/projects-banner.jpg);
        background-repeat: no-repeat;
        background-position: 50% 10%;
        height: 250px;
        background-size: cover;
    }

    .overlay{
        position: absolute;
        background-color: rgba(65, 155, 155, 0.5);
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        display: flex !important;
        align-items: center !important;
        justify-content: center;
    }

    .title1{
        font-weight: bold;
        color: #fff;
    }
}

.our-works{
    .custom-btn-2{
        color: #363636;
        background-color: white;
        border: none !important;
        border-radius: 1px;
        font-weight: bold;
        position: absolute;
        right: 25px;
        top: 24px;

        &:hover,
        &:focus {
            color: #fff;
            background-color: $main-color2;
            border: none;
            transition: 0.3s ease-in;
        }
    }
}

.btn, button{
    &:focus,
    &:active {
      outline: none !important;
      box-shadow: none !important;
    }
}
  
#image-gallery{
    .modal-footer{
        display: block !important;;
    }
}

.thumb{
    margin-top: 15px;
    margin-bottom: 15px;
}

.project-details{
    .card{
        .card-body{
            line-height: 2em;
            .card-title{
                color: $main-color2;
                font-weight: 800;
            }
        }
    }
}

@media (max-width: 576px) {
    .project-details{
        .thumb{

            margin: 15px;
        }
    }
}